project_id = "zlrivxntdtewfagrbtry"

[functions.github-proxy]
verify_jwt = false

[functions.audit-runner]
verify_jwt = false

[functions.audit-worker]
verify_jwt = false

[functions.audit-coordinator]
verify_jwt = false

[functions.github-oauth-start]
verify_jwt = true

[functions.github-oauth-callback]
verify_jwt = false

[functions.decrypt-github-token]
verify_jwt = true

[functions.send-email]
verify_jwt = false

[functions.verify-email]
verify_jwt = false
